<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center"></div>
<div id ="heading"></div>
  <h1>
    Welcome to... {{ title | uppercase}}
  </h1>
  <h4>{{name}}</h4>
  <h5>number addition</h5>
  {{num1+num2 | currency:'INR'}}
  <h5>Current Date</h5>
  {{displayDate()}}

  We are from family component:
  <div>
    <app-family></app-family>
    <cts-Products></cts-Products>

    shop:
    <a routerLink ="/catalog">catalog</a>
    <a routerLink ="/products">Products</a>
    <a routerLink ="/todo">Task</a>
    <a routerLink ="/remote">RemoteCall</a>
    <router-outlet></router-outlet>
  </div>